.kutu1{width: 152px;}
.kutu2{width: 140px;}
.kutu3{width: 108px;}
.kutu4{width: 182px;}
.kutu5{width: 104px;}
.kutu6{width: 162px;}
#catalogMenu{margin-left: 69px;}
#searchMenu{margin-left: 84px; margin-top: 10px;}
#catalogContainer{margin-top: 124px;}
#validationCustom{margin-top: 10px;} #validationCustom01{margin-bottom: 25px;} #validationCustom02{margin-bottom: 25px;} #validationCustom03{margin-bottom: 25px;} #validationCustom04{margin-bottom: 25px;}#validationCustom05{margin-bottom: 25px;} #validationCustom06{margin-bottom: 45px;} 
#deletebutton{margin-right: -10px;}

